/* this section belongs to privacy policy */

#cancellation{
    height: 100vh;
    width: 100vw;
}
#privacy{
    height: 100vh;
    width: 100vw;
}
.cancellation{
    height: 100vh;
    width: 100vw;
}