.resource_container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Resouces_intro_container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder_container_section{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.resource_container{
    text-align: center;
}

.resource_folder{
    border-radius: 0px 10px 10px 10px;
}

.folder_icon_top{
    background-color: rgb(245, 144, 12);
    border-radius: 20px 50px 0px 0px;
    position: relative;
    bottom: 14px;
    height: 20px;
    width: 50%;
}

.folder_icon_white{
    height: 20%;
    width: 100%;
    background-color: white;
    position: relative;
    top: 10px;
    border-radius: 0px 3px 0px 0px;
}
.brand_text_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-clip: text;
    text-shadow: -2px 1px  rgb(255, 255, 255);

}




@media screen and (max-width:600px){
    .resource_folder{
        background-color: rgb(245, 144, 12);
        height: 150px;
        width: 200px;
    }
    .folder_container_section{
        height: 80%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: rebeccapurple;
    }
}

@media screen and (min-width:601px) and (max-width:1280px) {
    .resource_folder{
        height: 200px;
        width: 250px;
        background-color: rgb(245, 144, 12);
    }
}

@media screen and (min-width:1281px){
    .resource_folder{
        height: 250px;
        width: 300px;
        background-color: rgb(245, 144, 12);
    }
}